.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;

  background-color: #0f172a;
  color: white;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 25px;
}

.menu li {
  display: flex;
  gap: 8px;
  align-items: center;

  cursor: pointer;
}

.menu li:hover {
  color: orange;
}